* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: exmouth;
    src: url("/font/exmouth_.ttf");
}

@font-face {
    font-family: inter;
    src: url("/font/inter_regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: inter;
    src: url("/font/inter_italic.ttf");
    font-style: italic;
}

body {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 222, 222);
    font-family: inter;
}

.parent {
    background-color: white;
    height: 100%;
    width: 100%;

    border-width: 15px;
    border-style: solid;
    border-image: url("/img/laceborder.png") 10 fill / 10px / 10px space;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.parent > * {
    padding: 15px;
}

header {
    grid-column: span 2 / span 2;
    text-align: center;
}

#outfitArea {
    border: 1px solid gray;
}

.div3 {
}

footer {
    grid-column: span 2 / span 2;
}

h1 {
    font-family: exmouth;
    font-weight: normal;
    font-size: 4em;
}