* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: exmouth;
    src: url("/font/exmouth_.ttf");
}

@font-face {
    font-family: inter;
    src: url("/font/inter_regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: inter;
    src: url("/font/inter_italic.ttf");
    font-style: italic;
}

body {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 222, 222);
    font-family: inter;
}

/* .parent {
    background-color: white;
    background-image: url("https://foollovers.com/mat/plaid/c15-bg-grid.gif");
    height: 100%;
    width: 100%;
    padding: 0px 25px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 40px;
}

.parent > * {
    padding: 15px;
}

header {
    grid-column: span 2 / span 2;
    text-align: center;
}

#outfitArea {
    background-color: white;
    border-width: 15px;
    border-style: solid;
    border-image: url("/img/laceborder.png") 10 fill / 10px / 10px space;
}

#clothesMenu {
    background-color: white;
    border-width: 15px;
    border-style: solid;
    border-image: url("/img/laceborder.png") 10 fill / 10px / 10px space;
}

footer {
    grid-column: span 2 / span 2;
}

h1 {
    font-family: exmouth;
    font-weight: normal;
    font-size: 4em;
} */


.parent {
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 15px;
}

#outfitArea, #clothesMenu {
    border: 1.5px solid black;
    background-color: white;
    padding: 15px;
    position: relative;
}

#clothesMenu > div:not(:first-child) {
    display: none;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;

    transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1), visibility 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

#clothesMenu > div > img {
    width: 125px;
}